*.pyc
pycache
*.egg-info
*.egg
.ruff_cache
**pytest_cache

.dockerignore
.gitignore
DjangoWeatherAlert/.env
.ruff_cache
__pycache__
.git
.github
.idea
venv
*.pyo
*.swp

db.sqlite3
db.sqlite3-journal
*.sqlite3
*.db

media_root/*

static_root/*

*.log

bin/
include/
lib/
lib64/
local/
pip-selfcheck.json
share/
coverage.xml
.tox/